body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #212429;
}

header {
  background-color: #212429;
  color: #fff;
  padding: 20px 0;

}


main{
  display: flex;
  background-color: #212429;
}



.divTabela{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #212429;
  color: white;
  border-radius: 8px;
  gap: 10px;
  margin-top: -15px;
}

input{
  border: 2px solid #BB2D3B;
}

.divDados{
  display: flex;
  gap: 10px;
}
#deltar-produto{
  width: auto;
  height: auto;
}

h1 {
  margin-top: 0;
}

.form-group {
  margin-bottom: 20px;
}

#botaoCadastrar{
  width: auto;
  height: auto;
}

.deletarProdutos{
  display: none;
}
label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="number"] {
  width: calc(100% - 16px); 
  border-radius: 4px;
}

.dark-mode-toggle input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.toggle-label {
  cursor: pointer;
  text-indent: -9999px;
  width: 40px;
  height: 20px;
  background: grey;
  display: block;
  border-radius: 20px;
  position: relative;
}

.toggle-label:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background: white;
  border-radius: 50%;
  transition: 0.3s;
}

.dark-mode-toggle input[type="checkbox"]:checked + .toggle-label {
  background: #2c3e50; 
}

.dark-mode-toggle input[type="checkbox"]:checked + .toggle-label:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
  background: #f1c40f; 
}

.delete-button, #botao-pequisar-criterios, #botaoCadastrar, #botao-pesquisar {
  padding: 10px 20px;
  background-color: #0D6EFD;
  color: white;
  border: none;
  border-radius: 44px;
  cursor: pointer;
  transition: background-color 0.3s;

}

input, select{
  border: none;
  outline: none;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

li:last-child {
  border-bottom: none;
}

input[type="text"]::placeholder,
input[type="number"]::placeholder {
  color: #999;
}

li{
  display: inline-block;
  margin-left: 10px;
    margin-right: 10px;
}

.form-group{
  display: flex;
  flex-direction: column;
}
table {
width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}


th {
  background-color: #007bff;
  color: white;
}

.imagens{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px
  ;
}
#imagemProduto{
  width: 300px;
  object-fit: cover;
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.tirarBorderNone{
  border: none;
}

#optionprodutos{
  width: 50px;
}
@media screen and (max-width: 768px) {
  table {
      border: 0;
  }

  table thead {
      display: none;
  }

  table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: 10px;
  }

  table td {
      display: block;
      text-align: right;
  }

  table td::before {
    display: flex;
    
    justify-content: center;
      content: attr(data-label);
      font-weight: bold;
  }
  main{
    display: flex;
    flex-direction: column;
  }
}